atom.log
.cdfile
.DS_Store
etc/vim/bundle/*
fish_variables
.idea/*
*.jupyterlab-workspace
*.log
.netrwhist
*.pyc
*.sublime-workspace
tig
.vscode

# pudb
saved-breakpoints-*
internal-cmdline-history.txt

