beautifulsoup4
black
copier
drawtree
fabric
invoke
ipdb
ipython
isort
jupyter
jupyterlab
mypy
notebook
paramiko
pudb
pycodestyle
pylint
pylint
pyqt5
pysnooper
pytest
pytest-assume
pytest-check
pytest-pythonpath
pytest-watch
pyyaml
ruff
